@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline active:transform active:scale-90 active:no-underline;
  }

  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm hover:from-yellow-300 focus:outline-none focus:ring-1 focus:ring-yellow-500 active:from-yellow-500 active:transform active:scale-90;
  }

  .growing-hover {
    @apply transition-transform duration-300 transform origin-bottom scale-100 hover:scale-105;
  }

  .tooltip {
    @apply relative;
  }

  .tooltip .tooltiptext {
    @apply invisible w-32 bg-gray-600 text-white text-center rounded-md absolute -ml-16 z-10 px-1 top-6 -left-px;
  }
  .tooltip .tooltiptext::after {
    @apply absolute -ml-2 border-solid bottom-4 left-1 border-8 border-t-transparent border-x-transparent border-b-gray-500 content-center;
  }

  .tooltip:hover .tooltiptext {
    @apply visible;
  }

  .dropdown-content {
    @apply absolute.;
  }
  .dropdown:hover .dropdown-content,
  .nav-arrow:hover .nav-arrow-inner {
    @apply block;
  }

  .dropdown:hover,
  .nav-arrow:hover {
    @apply float-left overflow-hidden;
  }

  .dropdown-content .header {
    @apply bg-yellow-500 p;
  }
}
/* tooltip */
/* .tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #5d5454;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #5d5454;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
} */

/* dropdown */
.dropdown-content {
  position: absolute;
}

.dropdown:hover .dropdown-content,
.nav-arrow:hover .nav-arrow-inner {
  display: block;
}

.dropdown:hover,
.nav-arrow:hover {
  float: left;
  overflow: hidden;
}

.dropdown-content .header {
  background: gold;
  padding: 16px;
  color: white;
}

.dropdown-content {
  display: none;
  background-color: #fff;
  width: 100%;
  left: 0px;
  right: 0px;
  /* bottom: 38%; */
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}

.nav-arrow-inner {
  display: none;
  position: absolute;
  content: " ";
  bottom: -12%;
  right: 45%;
  margin-left: -8px;
  border-width: 8px;
  border-color: transparent transparent gold transparent;
  z-index: 4;
}

/* arrow */

.arrow {
  position: relative;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  left: 12px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
