@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply cursor-pointer hover:underline active:transform active:scale-90 active:no-underline;
    }

        .button {
            @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm hover:from-yellow-300 focus:outline-none focus:ring-1 focus:ring-yellow-500 active:from-yellow-500 active:transform active:scale-90;
        }
    
        .growing-hover {
            @apply transition-transform duration-300 transform origin-bottom scale-100 hover:scale-105;
        }

  
}

/* 17/20 base rules are converted successfully. */
/* Gather results from the console with `copy(window.cssToTailwindResults)` */

/* ℹ️ Base selector: .error */
/* ✨ TailwindCSS: "text-xs" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.error {
    @apply text-xs;
    color: rgba(255, 0, 0, 1);
}

/* ℹ️ Base selector: .tooltip */
/* ✨ TailwindCSS: "relative" */
.tooltip {
    @apply relative;
}

/* ℹ️ Base selector: .tooltip .tooltiptext */
/* ✨ TailwindCSS: "rounded-md -ml-16 px-0 py-1 absolute text-center text-white invisible w-32" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.tooltip .tooltiptext {
    @apply rounded-md -ml-16 px-0 py-1 absolute text-center text-white invisible w-32;
    background-color: rgba(93, 84, 84, 1);
    z-index: 1;
    top: 150%;
    left: 50%;
}

/* ℹ️ Base selector: .tooltip .tooltiptext::after */
/* ✨ TailwindCSS: "border-transparent border-solid border-4 -ml-1 absolute" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.tooltip .tooltiptext::after {
    @apply border-transparent border-solid border-4 -ml-1 absolute;
    content: " ";
    bottom: 100%;
    left: 50%;
}

/* ℹ️ Base selector: .tooltip:hover .tooltiptext */
/* ✨ TailwindCSS: "visible" */

/* ℹ️ Base selector: .dropdown */
/* ✨ TailwindCSS: "inline-block relative" */
.tooltip:hover .tooltiptext {
     @apply visible;
}



.dropdown {
    @apply relative inline-block;
   
}
/* ℹ️ Base selector: .dropdown-content */
/* ✨ TailwindCSS: "hidden absolute" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.dropdown-content {
    @apply hidden absolute;
    background-color: rgba(217, 211, 211, 0.678);
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
}

/* ℹ️ Base selector: .dropdown-content a */
/* ✨ TailwindCSS: "block py-3 px-4 no-underline" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.dropdown-content a {
    @apply block py-3 px-4 no-underline;
    color: rgba(196, 195, 195, 1);
}

/* ⚠️ Some properties are requiring specific variants, but the variant does not support those. Consider extending your Tailwind config.
hover:
	background-color: rgba(241, 241, 241, 1);
*/

.dropdown-content a:hover {
    @
}

.dropdown:hover .dropdown-content {
    @apply block;
}

/* ℹ️ Base selector: .dropdown:hover .dropdown-content */
/* ✨ TailwindCSS: "block" */

/* ℹ️ Base selector: .dropdown-content .header */
/* ✨ TailwindCSS: "bg-black p-4 text-white" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.dropdown-content .header {
    @apply bg-black p-4 text-white;
    bottom: 10%;
}

/* ℹ️ Base selector: .drop-content */
/* ✨ TailwindCSS: "bg-white hidden absolute left-0 w-full" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.drop-content {
    @apply bg-white hidden absolute left-0 w-full;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* ℹ️ Base selector: .drop:hover .drop-content */
/* ✨ TailwindCSS: "block" */

/* ℹ️ Base selector: .drop-content .header */
/* ✨ TailwindCSS: "p-4 text-white" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.drop-content .header {
    @apply p-4 text-white;
    background-color: rgba(252, 219, 32, 0.71);
}

/* ℹ️ Base selector: .a */
/* ✨ TailwindCSS: "border-transparent border-8 -ml-2 absolute bottom-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.a {
    @apply border-transparent border-8 -ml-2 absolute bottom-0;
    content: " ";
    right: -12%;
    z-index: 4;
}

/* ℹ️ Base selector: .b */
/* ✨ TailwindCSS: "border-transparent border-8 -ml-2 absolute" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.b {
    @apply border-transparent border-8 -ml-2 absolute;
    content: " ";
    bottom: 100%;
    left: 380px;
}

/* ℹ️ Base selector: .c */
/* ✨ TailwindCSS: "border-transparent border-8 -ml-2 absolute" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.c {
    @apply border-transparent border-8 -ml-2 absolute;
    content: " ";
    bottom: 100%;
    left: 520px;
}

/* ℹ️ Base selector: .arrow */
/* ✨ TailwindCSS: "border-white border-solid border-t-0 border-l-0 border-r-2 border-b-2 inline-block p-px relative" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.arrow {
    @apply border-white border-solid border-t-0 border-l-0 border-r-2 border-b-2 inline-block p-px relative;
    border-width: 0px 2px 2px 0px;
    left: 12px;
}

/* ℹ️ Base selector: .down */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .up */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .drop */
/* ❌ Could not match any TailwindCSS classes. */


