@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline active:transform active:scale-90 active:no-underline;
  }

  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm hover:from-yellow-300 focus:outline-none focus:ring-1 focus:ring-yellow-500 active:from-yellow-500 active:transform active:scale-90;
  }

  .growing-hover {
    @apply transition-transform duration-300 transform origin-bottom scale-100 hover:scale-105;
  }

  .tooltip {
    @apply relative;
  }

  .tooltip .tooltiptext {
    @apply invisible w-32 bg-gray-600 text-white text-center rounded-md absolute -ml-16 z-10 px-1 top-6 -left-px;
  }

  .tooltip .tooltiptext::after {
    @apply absolute -ml-2 border-solid bottom-4 left-1 border-8 border-t-transparent border-x-transparent border-b-gray-500;
  }

  .tooltip:hover .tooltiptext {
    @apply visible;
  }

  .dropdown:hover .dropdown-content {
    @apply block;
  }

  .nav-arrow:hover .nav-arrow-inner {
    @apply block;
  }

  .dropdown:hover {
    @apply float-left overflow-hidden;
  }


  .nav-arrow:hover {
    @apply float-left overflow-hidden;
  }

  .dropdown-content .header {
    @apply bg-yellow-500 p-4 text-white;
  }
  /* .dropdown-content,
  .nav-arrow-inner {
    @apply absolute;
  } */
  .dropdown-content {
    @apply absolute hidden bg-gray-50 w-full left-0 right-0 shadow-lg ;
  }

  .nav-arrow-inner {
    @apply absolute hidden  border-8  right-2/4 top-[7px] border-x-transparent border-t-transparent border-yellow-500 z-20;
  }

  /* .arrow {
    @apply relative inline-block p-1 left-3 border-l-2 border-t-2 border-r-0 border-b-0 -rotate-[135deg] ;
  } */
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%; }

.arrow {
  width: 11px;
  height: 40px;
  top: 50%;
  left: 110%;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid; }

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow; }

@keyframes arrow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px); } }


/* #more-arrows {
  width: 75px;
  height: 65px;

}
#more-arrows:hover polygon {
  fill: #FFF;
  transition: all 0.2s ease-out;
    
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}
#more-arrows polygon {
  fill: #FFF;
  transition: all 0.2s ease-out;
}
#more-arrows polygon.arrow-middle {
  opacity: 0.75;
}
#more-arrows polygon.arrow-top {
  opacity: 0.5;
} */

