@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply cursor-pointer hover:underline active:transform active:scale-90 active:no-underline;
    }

        .button {
            @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm hover:from-yellow-300 focus:outline-none focus:ring-1 focus:ring-yellow-500 active:from-yellow-500 active:transform active:scale-90;
        }
    
        .growing-hover {
            @apply transition-transform duration-300 transform origin-bottom scale-100 hover:scale-105;
        }

  
}
/* tooltip */
.tooltip {
    position: relative
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #5d5454;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #5d5454
}

.tooltip:hover .tooltiptext {
    visibility: visible
}

/* dropdown */
.drop-content {
    position: absolute
}



.drop:hover {
    float: left;
    overflow: hidden
}

.drop-content {
    
        display: none;
        background-color: #fff;
        width: 100%;
        left: 0px;
        right: 0px;
        /* bottom: 38%; */
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
        z-index: 1;
}

.drop-content .header {
    background: gold;
    padding: 16px;
    color: #fff
}

.after:hover {
    overflow: hidden;
    float: left;
}

.after {
        display: none;
        position: absolute;
        content: " ";
        bottom: -12%;
        right: 45%;
        margin-left: -8px;
        border-width: 8px;
        border-color: transparent transparent gold transparent;
        z-index: 4;
}

/* arrow */

.arrow {
    position: relative;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    left: 12px
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg)
}