@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply cursor-pointer hover:underline active:transform active:scale-90 active:no-underline;
    }

        .button {
            @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm hover:from-yellow-300 focus:outline-none focus:ring-1 focus:ring-yellow-500 active:from-yellow-500 active:transform active:scale-90;
        }
    
        .growing-hover {
            @apply transition-transform duration-300 transform origin-bottom scale-100 hover:scale-105;
        }
}
.error {
    color: red;
    font-size: 12px;
}








/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
  
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(93, 84, 84);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

 
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip.tooltiptext::before {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}





.tooltip.bottom::after {
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 10px));
}


.tooltip.bottom::before {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
} 















 /* Dropdown */
 
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}