@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply cursor-pointer hover:underline active:transform active:scale-90 active:no-underline;
    }

        .button {
            @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm hover:from-yellow-300 focus:outline-none focus:ring-1 focus:ring-yellow-500 active:from-yellow-500 active:transform active:scale-90;
        }
    
        .growing-hover {
            @apply transition-transform duration-300 transform origin-bottom scale-100 hover:scale-105;
        }
}
.error {
    color: red;
    font-size: 12px;
}








/* Tooltip */

.tooltip {
    position: relative;     
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(93, 84, 84);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(93, 84, 84) transparent;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(217, 211, 211, 0.678) ;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(196, 195, 195);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content .header {
    background: rgba(0, 0, 0, 0.779);
    padding: 16px;
    color: white;
}


/* --------------- */

.drop:hover {
    float: left;
    overflow: hidden;

}

.drop-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width:100% ;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
 
}

.drop:hover .drop-content {
    display: block;
}

.drop-content .header {
    background: black;
    padding: 16px;
    color: white;

}
/* dropdown-content after */
.a {
    content: " ";
        position: absolute;
      
        bottom: 0.1%;
        right: 50%;
        margin-left: -8px;
        border-width: 8px;
        border-color: transparent transparent rgb(0, 0, 0) transparent;
        z-index: 4;

}

.b {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 380px;
    margin-left: -8px;
    border-width: 8px;

    border-color: transparent transparent rgb(0, 0, 0) transparent;

}

.c {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 520px;
    margin-left: -8px;
    border-width: 8px;

    border-color: transparent transparent rgb(0, 0, 0) transparent;

}


/*  */
.arrow {
    position: relative ;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0 ;
    display: inline-block;
    padding: 2px;
    left: 12px ;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.up {
    transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
}



/*  */

